#page-header{
    text-align: center;
    background-color:#3d6488;
    font-family: sans-serif;
    color: white
}


.left-div{
    height: 100%; 
}

.card-body{
    background-color: #3d6488;
    color: white;
}

#searchButton{
    background-color: #3d6488;
    color: white;
    font-family: sans-serif;
    border-radius: 2px; 
}

.listButton{
    background-color: #3d6488;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 2px; 
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 2px;
    margin-bottom: 2px;
}